<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-ktrdev2020" value="https://nuget.pkg.github.com/ktrdev2020/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-ktrdev2020>
      <add key="Username" value="ktrdev2020" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-ktrdev2020>
  </packageSourceCredentials>
</configuration>
